@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;500;800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Work Sans";
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/*Header*/

.content_header {
  background: #1e2326;
  position: fixed;
  width: auto;
  top: 0;
  left: 0;
  z-index: 99;
}

.content_header header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  width: 100vw;
}

.content_header header .logo a {
  font-family: "Righteous";
  font-size: 36px;
  color: #56acfc;
  text-decoration: none;
}

.content_header header ul {
  display: flex;
  list-style: none;
}

.content_header header nav ul li a {
  text-align: none;
  color: #fff;
  margin: 0 15px;
  padding: 3px;
  transition: 0.5s;
  text-decoration: none;
}

.content_header header nav ul li a:hover {
  color: #56acfc;
}

.nav_responsive {
  background-color: #56acfc;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

/*Intro mobile*/

.intro {
  background: linear-gradient(
      to top,
      rgba(30, 35, 38, 0.8),
      rgba(30, 35, 38, 1)
    ),
    url(../img/Back.png);
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 60px;
  width: auto;
  padding-bottom: 50px;
}

.intro .content_banner {
  padding: 20px;
  background-color: #212528;
  text-align: center;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 40px 15px 0 15px;
  width: 90%;
}

.intro .content_banner_profile img {
  margin-top: 40px;
  display: block;
  width: 250px;
  margin: auto;
}

.intro .content_banner_profile h1 {
  margin-top: 35px;
  font-size: 34px;
  font-family: "Lucida Sans", sans-serif;
}

.intro .content_banner_profile h2 {
  margin: 0 15px;
  font-size: 16px;
  font-weight: normal;
}

.intro .content_banner_profile .networks a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 40px 15px;
  font-size: 30px;
  transition: 0.3s;
}

.intro .content_banner_about {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content:start;
  text-align: start;
}

.intro .content_banner_about h3 {
  font-family: "Righteous";
  font-size: 32px;
  color: #2196f3;
}

.intro .content_banner_about h4 {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.intro .content_banner_about .CVs {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.intro .content_banner .content_banner_about .CVs .content_banner_CV a:hover {
  color: #fff;
  box-shadow: 0 0 25px 2px #fff;
}

/*Education mobile*/

.education {
  background: linear-gradient(
      to bottom,
      rgba(30, 35, 38, 0.8),
      rgba(30, 35, 38, 1)
    ),
    url(../img/Back.png);
  background-size: cover;
  height: 100vh;
  padding-top: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.education .content_education {
  padding: 20px 20px;
  background-color: #212528;
  text-align: center;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: auto;
  width: 90%;
  margin: 120px 0px;
}

.education .content_education .content_education_title h2 {
  font-family: "Righteous";
  font-size: 44px;
  color: #2196f3;
  margin-bottom: 50px;
}

.education .content_education .content_education_describe {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.education .content_education .content_education_describe h3 {
  font-size: 20px;
}

.education .content_education .coder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 110px;
}

.education .content_education .coder i {
  font-size: 50px;
  padding-right: 0px;
  padding-bottom: 20px;
  margin-left: 50px;
}

.education .content_education .present hr {
  width: 200px;
  margin-left: 110px;
}

/*Experience mobile*/

.experience {
  background: linear-gradient(
      to top,
      rgba(30, 35, 38, 0.8),
      rgba(30, 35, 38, 1)
    ),
    url(../img/Back.png);
  padding-top: 30px;
  color: #fff;
}

.experience .content_experience {
  margin: auto;
  padding-top: 75px;
}

.experience h2 {
  font-size: 44px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
  color: #2196f3;
}

.experience .fila {
  display: flex;
  justify-content: space-between;
}

.experience .fila .col {
  width: 40%;
  padding: 0 20px;
}

.experience .fila .left {
  border-right: 2px solid #252a2e;
}

.experience .fila .right {
  border-left: 2px solid #252a2e;
}

.experience .fila .item {
  padding: 15px;
  margin-bottom: 30px;
  background-color: #252a2e;
  position: relative;
}

.experience .fila .item h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.experience .fila .item .workplace {
  color: #2196f3;
  font-size: 22px;
  font-weight: bold;
  display: block;
}

.experience .fila .item .date {
  display: block;
  color: #2196f3;
  margin-bottom: 10px;
}

.experience .fila .item p {
  line-height: 24px;
}

.experience .fila .right {
  margin-left: 20px;
  margin-top: 85px;
}

.experience .fila .right .item {
  margin-top: 80px;
}

.experience .fila .item .conectorl {
  height: 2px;
  background-color: #2196f3;
  width: 47px;
  position: absolute;
  top: 50%;
  right: -47px;
  z-index: 5;
}

.experience .fila .item .conectorl .circlel {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #2196f3;
  float: right;
  position: relative;
  bottom: 4px;
}

.experience .fila .item .conectorr {
  height: 2px;
  background-color: #2196f3;
  width: 47px;
  position: absolute;
  top: 50%;
  left: -47px;
  z-index: 5;
}

.experience .fila .item .conectorr .circler {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #2196f3;
  float: left;
  position: relative;
  bottom: 4px;
}

/*Skills mobile*/

.skills {
  background: linear-gradient(
      to bottom,
      rgba(30, 35, 38, 0.8),
      rgba(30, 35, 38, 1)
    ),
    url(../img/Back.png);
  padding-top: 30px;
  color: #fff;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills .content_skills {
  background-color: #212528;
  max-width: 1100px;
  border-radius: 40px;
  width: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 270px;
}

.skills .content_skills .title h2 {
  font-size: 44px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
  color: #2196f3;
}

.skills .content_skills .languages {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.skills .content_skills .item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #2196f3;
  border-radius: 50px;
  gap: 1rem;
  padding: 10px 25px 5px 25px;
  cursor: default;
}

.skills .content_skills .item i {
  font-size: 35px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.skills .content_skills .item h2 {
  font-size: 28px;
  font-family: "Lucida Sans", sans-serif;
  color: #fff;
}

.skills .content_skills .item:hover {
  background-color: #253648;
}

/*Portfolio mobile*/

.portfolio {
  background: linear-gradient(
      to top,
      rgba(30, 35, 38, 0.8),
      rgba(30, 35, 38, 1)
    ),
    url(../img/Back.png);
  padding: 200px 0 100px 0;
  color: #fff;
  background-size: cover;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.portfolio .portfolio_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.portfolio h2 {
  color: #2196f3;
  font-size: 44px;
  font-family: "Righteous";
  padding-bottom: 20px;
}

.portfolio figure {
  position: relative;
  height: 90%;
  width: 90%;
  overflow: hidden;
  border-radius: 10px;
}

.portfolio figure img {
  height: 100%;
  width: 100%;
  transition: all 500ms ease-out;
}

.portfolio figure .text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #212528bd;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.portfolio figure:hover > .text {
  opacity: 1;
  visibility: visible;
}

.portfolio figure:hover > .text h3 {
  margin-top: 60px;
}

.portfolio figure .text h3 {
  font-weight: 400;
  margin-top: 5px;
  transition: all 700ms ease-out;
  font-family: "Righteous";
}

.portfolio figure .text a {
  text-decoration: none;
  color: black;
}

.portfolio video {
  width: 100%;
  height: 100%;
}

/*Footer mobile*/

footer {
  background-color: #212528;
  color: #fff;
  padding: 50px 0 30px 0;
  text-align: center;
  position: relative;
  width: 100%;
}

footer .networks {
  margin-bottom: 20px;
}

footer .networks a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 40px 15px;
  font-size: 30px;
  transition: 0.3s;
}

footer .up {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #56acfca5;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
  border-radius: 50%;
  line-height: 50px;
  font-size: 20px;
}
.chat-container {
    width: 70%;
    margin-left: 20px;
    border: 6px ridge #ccc;
    padding: 20px;
    border-radius: 20px 40px 40px 40px;
    -webkit-box-shadow: 4px 1px 5px 0px rgba(179,179,179,1);
    -moz-box-shadow: 4px 1px 5px 0px rgba(179,179,179,1);
    box-shadow: 4px 1px 5px 0px rgba(179,179,179,1);
}
#chat {
    max-height: 200px; /* Ajusta esta altura según tus necesidades */
    overflow-y: auto;
    padding-right: 10px;
}
.message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
}
.user-message {
    background-color: #026abe;
    text-align: right;
}
.bot-message {
    background-color: #ababab;
    color: black;
    font-weight: 500;
}
.input-container {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}
.input-container select, .input-container button {
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    border: 2px solid #c0c0c0;
}
.input-container button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
}

@media (min-width: 590px) {
  .intro .content_banner_about .CVs {
    flex-direction: row;
  }

  .portfolio {
    padding: 50px 0 100px 0;
    margin-top: 0px;
  }

  .experience .fila .item {
    padding: 25px;
  }

  .education .content_education .coder i {
    padding-right: 50px;
    margin-left: 0;
  }
}

@media (min-width: 821px) {
  html {
    width: 100%;
  }

  /*Header*/

  .content_header {
    width: 100%;
  }

  .selected_lang {
    display: flex;
    gap: 15px;
  }

  .selected_lang .lang_flag {
    text-decoration: none;
    border: none;
    background-color: #1e2326;
  }

  /*Intro*/

  .intro {
    flex-direction: row;
    padding-bottom: 50px;
  }

  .intro .content_banner {
    height: 550px;
    width: 550px;
  }

  .linkdin_logo:hover {
    background-color: #0170ad;
  }

  .github_logo:hover {
    background-color: #4c4f5d;
  }

  .mail_logo:hover {
    background-color: #d7483d;
  }

  .intro .content_banner_about {
    width: 550px;
    height: 520px;
  }

  .intro .content_banner_about .CVs {
    flex-direction: row;
  }

  /*Education*/

  .education .content_education {
    padding: 20px;
    width: 500px;
  }

  /*Experience*/

  .experience .fila {
    width: 100%;
  }

  .experience .fila .col {
    width: 49%;
  }

  .experience .fila .right {
    margin-top: 0px;
  }

  .experience .fila .left {
    border-right: 2px solid #2196f3;
    margin-right: 20px;
    margin-left: 150px;
  }

  .experience .fila .right {
    border-left: 2px solid #2196f3;
    width: 70%;
    margin-right: 100px;
  }

  @keyframes move {
    to {
      background-position: 2500vh;
    }
  }

  /*Skills*/

  .skills .content_skills {
    width: 500px;
    margin-top: 80px;
  }

  /*Portfolio*/

  .portfolio {
    padding: 120px 0;
    margin-top: 0px;
  }

  .portfolio figure {
    height: 350px;
    width: 500px;
  }

  .portfolio figure:hover > .text h3 {
    margin-top: 120px;
  }

  .portfolio figure .text h3 {
    margin-top: 30px;
  }
  .chat-container {
    width: 100%;
    margin: 20px auto;
}
}

/*NAV responsive*/
@media screen and (max-width: 820px) {
  nav {
    display: none;
  }

  .nav_responsive {
    display: block;
  }

  nav.responsive {
    display: block;
    position: absolute;
    right: 0;
    top: 75px;
    background-color: #212528;
    width: 180px;
  }

  nav.responsive ul {
    display: block !important;
  }

  nav.responsive ul li {
    border-bottom: 1px solid #fff;
    padding: 10px 0;
  }

  .selected_lang {
    display: flex;
    gap: 15px;
    margin-left: 20px;
  }

  .selected_lang .lang_flag {
    text-decoration: none;
    border: none;
    background-color: #1e2326;
  }

}
